*{
    margin:0;
    padding:0;
}
body{
    background-color: #F3F3F3;
    width: 100%;
    height: 200vh;
}
.page1{
    width: 85%;
    height: 190vh;
    background-color: #FFFFFF;
    margin: auto;
}

nav{
    display: flex;
    position: fixed;
    padding: 10px 50px;
    background-color: #FFFFFF;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 250px;
}
nav ul li{
    list-style-type: none;
    position: relative;
}
nav ul li a{
    padding:10px 15px;
    font-size: 12px;
    line-height: 16.8px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #3C3C3C;
    text-decoration: none solid;
}
nav ul li a:hover{
    color:#FA6400;
}

#logo{
    width: 200px;
    margin-left: 40px;
}
.login{
    display: flex;
    align-items: center;
    padding: 6px 20px;
    font-size:12px;
    line-height: 16.8px;
    font-weight: 600;
    text-decoration:none solid ;
    color: #FFFFFF;
    background-color:#FA6400;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown_aboutus{
    display: none;
}
nav ul li:hover .dropdown_aboutus{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #FFFFFF;
    border-top: 2px solid #FA6400;
    border-style: solid;
    border-left: 2px solid #F3F3F3;
    border-right: 2px solid #F3F3F3;
    border-bottom:2px solid #F3F3F3 ;
    margin-top: 9.5px;  
}

nav ul li:hover .dropdown_aboutus ul{
    display: block;
    margin: 10px;
   
}

nav ul li:hover .dropdown_aboutus ul li{
    width: 200px;
    margin: 10px;    
}
.dropdown_ourwey{
    display: none;
}
.dropdown_aboutus ul li:hover .dropdown_ourwey{
    display: block;
    position: absolute;
    right: 110%;
    top: 0;
    background-color: #FFFFFF;
    border-top: 2px solid #FA6400;
    border-style: solid;
    border-left: 2px solid #F3F3F3;
    border-right: 2px solid #F3F3F3;
    border-bottom:2px solid #F3F3F3 ;
}
.content h1{
    font-size: 45px;
    line-height: 63px;
    font-weight: 700;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-top:150px ;
    font-stretch: 100%;
}

.content p{
    font-size: 14px;
    line-height: 20.33px;
    font-weight: 400;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #3C3C3C;
    padding-top:10px ;
    font-stretch: 100%;
}
.maincontent{
    display: flex;
    justify-content: center;
    margin-top: 180px;
}
.photo-content{
    height: 120vh;
    width: 43%;
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
}
.empty-content{
    height: 120vh;
    width: 43%;
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
    margin-left: 20px;
}
.inner-photo{
    width:100%;
    height: 60vh;
    border-radius: 20px 20px 0px 0px;
    
}
.photo-description{
    font-size: 23px;
    line-height: 33.5px;
    font-weight: 600;
    text-align: left;
    color: #222222;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
}
.pd-address{
    font-size: 13px;
    line-height: 18.2px;
    font-weight: 600;
    padding: 7px;
    margin-left: 20px;
    color:#F2F2F2 ;
    background-color: #EA5B0C;
    font-family: 'Montserrat', sans-serif;
}
.pd-icons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}
#pd-icons{
    height: 50px;
}
.pd-icon-info h5{
    font-size: 14px;
    font-weight: 600;
    line-height: 19.6px;
    color: #666666;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-evenly;
}
.pd-icon-info {
    display: block;
    text-align: center;
}
.pd-images{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    overflow: auto;
}
#pd-images{
    width: 142px;
    height: 70px;
    border-radius: 10px;
    margin: 10px;
}
.pg-button{
    margin-top: 40px;
    text-align: center;
}
.seemore-btn{
    font-size: 16px;
    line-height: 19.2px;
    color: #F2F2F2;
    text-decoration: none solid;
    font-family: 'Poppins', sans-serif;
    padding: 12.5px 25px;
    border: none;
    border-radius: 25px;
    background-color: #EF5F00;
    cursor: pointer;
}
.footer{
    font-size: 12px;
    line-height: 17.4px;
    font-weight: 400;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    color: #808080;
    letter-spacing: 0.6px;
}
.social-icons{
    display: grid;
    height: fit-content;
    width: fit-content;
    padding: 15px 5px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 25px;
    position: fixed;
    right: 0%;
    top: 30%;
}
#social-icons{
    font-size: 30px;
    color: #EA5B0C;
}
.whatsapp{
    /* position: fixed;
    right: 0%;
    top: 75%; */
}
#whatsapp{
    font-size: 13px;
    line-height: 15.6px;
    color: #F2F2F2;
    text-decoration: none solid;
    font-family: 'Poppins', sans-serif;
    padding: 12.5px 25px;
    border: none;
    border-radius: 25px;
    background-color: #EF5F00;
    cursor: pointer;
    position: fixed;
    right: 0%;
    top: 90%;
}
.whatsapp-box{
    height:fit-content ;
    width:fit-content ;
    background-color: #EA5B0C;
    color: #F2F2F2;
    border-radius: 5px 5px 0px 0px;
    padding: 20px;  
}
.whatsapp-box2{
    border: none;
    background-color: #FFFFFF;
    margin-bottom: 15px;
}
.whatsapp-box2-btn{
    padding: 25px 128px;
    text-align: left;
    border: none;
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight:600 ;
    cursor: pointer;
    color: #3C3C3C; 
}
.whatsapp-content{
    display: none;
    right: 0%;
    top: 72%;
}
.whatsapp:focus-within .whatsapp-content{
    display: block;
    position: absolute;
    position: fixed;
}
